<!-- Footer -->
<footer class='bg-white mt-16'>
  <div class='container mx-auto px-4 py-8 text-center'>
    <h3 class='text-lg font-semibold mb-4'>Temui saya di sosial media</h3>
    <div class='flex justify-center space-x-6 mb-4'>
      <!-- Ganti # dengan link milikmu -->
      <a
        href='https://github.com/sholikul92'
        target='_blank'
        class='text-gray-600 hover:text-black transition'
      >
        <svg class='w-6 h-6' fill='currentColor' viewBox='0 0 24 24'>
          <path
            d='M12 0C5.37 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.385.6.113.82-.26.82-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.386-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.085 1.84 1.237 1.84 1.237 1.07 1.832 2.807 1.303 3.492.996.108-.776.418-1.303.76-1.603-2.665-.3-5.467-1.332-5.467-5.93 0-1.31.467-2.38 1.235-3.22-.123-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.3 1.23a11.5 11.5 0 0 1 3-.404c1.02.005 2.047.138 3 .404 2.29-1.552 3.297-1.23 3.297-1.23.653 1.653.241 2.874.118 3.176.77.84 1.233 1.91 1.233 3.22 0 4.61-2.807 5.625-5.48 5.92.43.372.823 1.102.823 2.222v3.293c0 .32.218.694.825.576C20.565 21.796 24 17.3 24 12c0-6.627-5.373-12-12-12z'
          ></path>
        </svg>
      </a>
      <a
        href='https://www.linkedin.com/in/sholikul-ardian-85a49323b'
        target='_blank'
        class='text-gray-600 hover:text-blue-600 transition'
      >
        <svg class='w-6 h-6' fill='currentColor' viewBox='0 0 24 24'>
          <path
            d='M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.762 2.239 5 5 5h14c2.762 0 5-2.238 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.3c-.966 0-1.75-.783-1.75-1.75s.784-1.75 1.75-1.75 1.75.783 1.75 1.75-.784 1.75-1.75 1.75zm13.5 11.3h-3v-5.604c0-1.337-.027-3.061-1.865-3.061-1.866 0-2.152 1.457-2.152 2.964v5.701h-3v-10h2.882v1.367h.041c.402-.762 1.385-1.566 2.85-1.566 3.048 0 3.611 2.006 3.611 4.615v5.584z'
          ></path>
        </svg>
      </a>
      <a
        href='https://wa.me/6283807201787'
        target='_blank'
        class='text-gray-600 hover:text-green-500 transition'
      >
        <svg class='w-6 h-6' fill='currentColor' viewBox='0 0 24 24'>
          <path
            d='M20.52 3.48A11.76 11.76 0 0 0 12.06 0C5.4 0 .06 5.34.06 11.97c0 2.11.54 4.17 1.57 6L0 24l6.22-1.62a11.91 11.91 0 0 0 5.83 1.47h.01c6.66 0 12-5.34 12-11.97 0-3.19-1.24-6.2-3.54-8.4zM12.06 21.9a9.84 9.84 0 0 1-5.02-1.36l-.36-.21-3.69.96.99-3.6-.23-.37a9.93 9.93 0 0 1-1.52-5.25c0-5.49 4.47-9.96 9.96-9.96 2.66 0 5.17 1.03 7.05 2.91a9.88 9.88 0 0 1 2.91 7.05c0 5.49-4.47 9.97-9.97 9.97zm5.5-7.42c-.3-.15-1.78-.88-2.06-.98-.28-.1-.49-.15-.7.15-.2.3-.8.97-.98 1.17-.17.2-.36.22-.66.07s-1.3-.48-2.48-1.52c-.92-.82-1.54-1.83-1.72-2.14-.18-.3-.02-.46.13-.6.13-.13.3-.35.45-.52.15-.17.2-.3.3-.5.1-.2.05-.38-.02-.52-.07-.15-.7-1.69-.95-2.3-.25-.6-.5-.52-.7-.53-.2-.01-.4-.01-.62-.01s-.57.08-.87.38c-.3.3-1.15 1.12-1.15 2.74s1.18 3.17 1.34 3.4c.17.23 2.31 3.52 5.6 4.94.78.34 1.38.54 1.85.69.78.25 1.49.22 2.05.13.62-.09 1.9-.77 2.18-1.51.27-.75.27-1.4.19-1.54-.07-.13-.26-.2-.55-.35z'
          ></path>
        </svg>
      </a>
    </div>
    <p class='text-sm text-gray-500'>&copy; 2025 Sholikul Ardian.</p>
  </div>
</footer>
