---
import { Image } from 'astro:assets';
---

<section
  class='flex flex-col md:flex-row justify-center items-center gap-12 m-8'
>
  <Image
    src='/profile-ikul.jpg'
    alt='profile'
    width={200}
    height={200}
    class='rounded-full border-2'
    priority
  />
  <div class='space-y-2'>
    <h1 class='font-bold text-xl'>Sholikul Ardian</h1>
    <h2 class='text-gray-600 text-lg'>Front End Web Developer</h2>
    <p class='text-gray-600 max-w-xl mx-auto text-justify'>
      Saya adalah Front-End Web Developer dengan minat tinggi dalam membangun
      antarmuka web yang responsif dan user-friendly. Aktif sebagai Ketua Divisi
      Pemrograman di Community of Information Technology, saya juga pernah
      menjadi Asisten Mentor di Ruangguru Camp Batch 7. Pengalaman ini membentuk
      saya sebagai developer yang tidak hanya fokus pada teknis, tapi juga
      kolaborasi dan pembelajaran bersama.
    </p>
  </div>
</section>
